<div id="page" class="page-padding">
    <div class="container">
        <div class="row">
            <div class="text-center col-12">
                <SubheadTitle subtitle="Nos implantations" />
                <!--(Widget mobile web app) = à préciser avec David Carte avec pastilles
            sur les sites implantés Liste des sites avec le profil des projets
            (nombre de casiers, vocation, etc.)-->
                <ElementMap :machines="machines" class="my-4" />
            </div>
        </div>
    </div>
</div>


<script>
    import SubheadTitle from 'SubheadTitle.ejs';
    export default {
        components: {
            SubheadTitle
        },
        auth: false,
        name: "ImplantationsPage",
        layout: "default",
        name: "leaflet-map",
        computed: {
            machines: function() {
                return this.$store.state.entreprise.machines;
            },
        },
        head() {
            return {
                title: "Nos implantations",
                meta: [{
                    hid: "description",
                    name: "description",
                    content: "description",
                }, {
                    hid: "keywords",
                    name: "keywords",
                    content: "",
                }, {
                    name: "format-detection",
                    content: "telephone=no"
                }, {
                    hid: "og:title",
                    property: "og:title",
                    content: "Nos implantations",
                }, {
                    hid: "og:description",
                    property: "og:description",
                    content: "",
                }, {
                    hid: "og:image",
                    property: "og:image",
                    content: ""
                }, {
                    hid: "og:url",
                    property: "og:url",
                    content: "nos-implantations",
                }, {
                    property: "article:published_time",
                    content: "",
                }, {
                    property: "article:modified_time",
                    content: "",
                }, {
                    property: "article:tag",
                    content: "",
                }, ],
            };
        },
    };
</script>