<!DOCTYPE html>
<!-- Opening HTML Tags-->
<html>
<!-- Opening head Tags-->

<head>

    <%- include('./partials/head'); %>
</head>
<header>
    <%- include('./partials/header'); %>
</header> <br/>
<div class="container">
    <div class="ft-contact-page-content">
        <div class="row">
            <div class="col-lg-6">
                <div class="ft-contact-page-text-wrapper">
                    <div id="map-wrap" style="
                height: 50vh;
                margin-bottom: 20px;
                position: relative;
                z-index: 1;
              ">
                        <client-only>
                            <l-map :zoom="13" :center="[45.947110409361, 6.04350932972513]">
                                <header>
                                    <%- include('./partials/implantations-casiers-connectes'); %>
                                </header>
                            </l-map>
                        </client-only>
                    </div>
                    <div class="ft-contact-page-contact-info">
                        <div class="ft-contact-cta-items d-flex">
                            <div class="ft-contact-cta-icon d-flex align-items-center justify-content-center">
                                <i class="fal fa-map-marker-alt"></i>
                            </div>
                            <div class="ft-contact-cta-text headline pera-content">
                                <h3>Adresse</h3>
                                <p>127 route du puit de l'homme 74330 Sillingy</p>
                            </div>
                        </div>
                        <div class="ft-contact-cta-items d-flex">
                            <div class="ft-contact-cta-icon d-flex align-items-center justify-content-center">
                                <i class="fas fa-phone-alt"></i>
                            </div>
                            <div class="ft-contact-cta-text headline pera-content">
                                <h3>Téléphone</h3>
                                <p>+33 6 06 57 67 57</p>
                            </div>
                        </div>
                        <div class="ft-contact-cta-items d-flex">
                            <div class="ft-contact-cta-icon d-flex align-items-center justify-content-center">
                                <a href="mailto:contact@smartlockers.io" target="_blank" rel="noopener"><i class="far fa-envelope"></i
                  ></a>
                            </div>
                            <div class="ft-contact-cta-text headline pera-content">
                                <h3>
                                    <a href="mailto:contact@smartlockers.io" target="_blank" rel="noopener">E-mail</a
                    >
                  </h3>
                  <p>
                    <a
                      href="mailto:contact@smartlockers.io"
                      target="_blank"
                      rel="noopener"
                      >contact@smartlockers.io</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="ft-contact-page-form-wrapper headline">
            <form @submit.prevent="submitForm">
              <fieldset class="form-group">
                <legend>Mes coordonnées</legend>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <select
                        class="form-select"
                        required
                        name="pets"
                        v-model="form.title"
                        ref="title"
                        id="Titre"
                        v-on:change="isTitleValid"
                      >
                        <option value="" selected>--Titre *--</option>
                        <option
                          v-for="(title, index) in titles"
                          :key="'title' + index"
                          :value="title"
                        >
                          {{ title }}
                        </option>
                      </select>
                      <p
                        class="error"
                        v-if="errors.title"
                        v-html="errors.title"
                      ></p>
                    </div>

                    <br />
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input
                        type="text"
                        v-model="form.userName"
                        class="form-control"
                        name="name"
                        required
                        placeholder="Nom et prénom *"
                        maxlength="32"
                        v-on:keyup="isUserNameValid"
                      />
                      <p
                        class="error"
                        v-if="errors.userName"
                        v-html="errors.userName"
                      ></p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input
                        type="email"
                        v-model="form.email"
                        v-on:keyup="isEmailValid"
                        class="form-control"
                        id="mail"
                        name="mail"
                        required
                        placeholder="Adresse email  *"
                        maxlength="50"
                      />
                      <p
                        class="error"
                        v-if="errors.email"
                        v-html="errors.email"
                      ></p>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input
                        type="text"
                        v-on:keyup="isPhoneValid"
                        v-model="form.phone"
                        class="form-control"
                        id="number"
                        name="amount"
                        pattern="^\+?\s*(\d+\s?){8,}$"
                        required
                        placeholder="Numéro de téléphone *"
                        maxlength="17"
                      />
                      <p
                        class="error"
                        v-if="errors.phone"
                        v-html="errors.phone"
                      ></p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input
                        type="text"
                        name="date"
                        class="form-control"
                        placeholder="Adresse postale"
                        v-model="form.address"
                        maxlength="255"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input
                        type="text"
                        name="date"
                        class="form-control"
                        maxlength="30"
                        v-model="form.city"
                        placeholder="Ville"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input
                        type="text"
                        name="date"
                        class="form-control"
                        v-model="form.zipCode"
                        placeholder="Code postal"
                        maxlength="5"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div>
                      <select
                        v-model="form.country"
                        name="country"
                        class="w-100 form-control"
                      >
                        <option value="AFG">Afghanistan</option>
                        <option value="ALA">Åland Islands</option>
                        <option value="ALB">Albanie</option>
                        <option value="DZA">Algérie</option>
                        <option value="ASM">Samoa</option>
                        <option value="AND" selected>Andorre</option>
                        <option value="AGO">Angola</option>
                        <option value="AIA">Anguilla</option>
                        <option value="ATA">Antarctique</option>
                        <option value="ATG">Antigua et Barbuda</option>
                        <option value="ARG">Argentine</option>
                        <option value="ARM">Arménie</option>
                        <option value="ABW">Aruba</option>
                        <option value="AUS">Australie</option>
                        <option value="AUT">Autriche</option>
                        <option value="AZE">Azerbaïdjan</option>
                        <option value="BHS">Bahamas</option>
                        <option value="BHR">Bahrain</option>
                        <option value="BGD">Bangladesh</option>
                        <option value="BRB">Barbade</option>
                        <option value="BLR">Belarus</option>
                        <option value="BEL">Belgique</option>
                        <option value="BLZ">Belize</option>
                        <option value="BEN">Bénin</option>
                        <option value="BMU">Bermuda</option>
                        <option value="BTN">Bhutan</option>
                        <option value="BOL">Bolivie</option>
                        <option value="BES">
                          Bonaire, Saint-Eustache et Saba
                        </option>
                        <option value="BIH">Bosnie-Herzégovine</option>
                        <option value="BWA">Botswana</option>
                        <option value="BVT">Île Bouvet</option>
                        <option value="BRA">Brésil</option>
                        <option value="IOT">
                          Territoire britannique de l'océan Indien
                        </option>
                        <option value="BRN">Brunéi Darussalam</option>
                        <option value="BGR">Bulgarie</option>
                        <option value="BFA">Burkina Faso</option>
                        <option value="BDI">Burundi</option>
                        <option value="KHM">Cambodge</option>
                        <option value="CMR">Cameroun</option>
                        <option value="CAN">Canada</option>
                        <option value="CPV">Cap-Vert</option>
                        <option value="CYM">Îles Caïmans</option>
                        <option value="CAF">République centrafricaine</option>
                        <option value="TCD">Tchad</option>
                        <option value="CHL">Chili</option>
                        <option value="CHN">Chine</option>
                        <option value="CXR">Île Christmas</option>
                        <option value="CCK">Îles Cocos (Keeling)</option>
                        <option value="COL">Colombie</option>
                        <option value="COM">Comores</option>
                        <option value="COG">Congo</option>
                        <option value="COD">
                          Congo, République démocratique du Congo
                        </option>
                        <option value="COK">Îles Cook</option>
                        <option value="CRI">Costa Rica</option>
                        <option value="CIV">Côte d'Ivoire</option>
                        <option value="HRV">Croatie</option>
                        <option value="CUB">Cuba</option>
                        <option value="CUW">Curaçao</option>
                        <option value="CYP">Chypre</option>
                        <option value="CZE">République tchèque</option>
                        <option value="DNK">Danemark</option>
                        <option value="DJI">Djibouti</option>
                        <option value="DMA">Dominique</option>
                        <option value="DOM">République dominicaine</option>
                        <option value="ECU">Équateur</option>
                        <option value="EGY">Égypte</option>
                        <option value="SLV">El Salvador</option>
                        <option value="GNQ">Guinée équatoriale</option>
                        <option value="ERI">Érythrée</option>
                        <option value="EST">Estonie</option>
                        <option value="ETH">Éthiopie</option>
                        <option value="FLK">Îles Falkland (Malvinas)</option>
                        <option value="FRO">Îles Féroé</option>
                        <option value="FJI">Fidji</option>
                        <option value="FIN">Finlande</option>
                        <option value="FRA" selected>France</option>
                        <option value="GUF">Guyane française</option>
                        <option value="PYF">Polynésie française</option>
                        <option value="ATF">Terres australes françaises</option>
                        <option value="GAB">Gabon</option>
                        <option value="GMB">Gambie</option>
                        <option value="GEO">Géorgie</option>
                        <option value="DEU">Allemagne</option>
                        <option value="GHA">Ghana</option>
                        <option value="GIB">Gibraltar</option>
                        <option value="GRC">Grèce</option>
                        <option value="GRL">Groenland</option>
                        <option value="GRD">Grenade</option>
                        <option value="GLP">Guadeloupe</option>
                        <option value="GUM">Guam</option>
                        <option value="GTM">Guatemala</option>
                        <option value="GGY">Guernesey</option>
                        <option value="GIN">Guinée</option>
                        <option value="GNB">Guinée-Bissau</option>
                        <option value="GUY">Guyane</option>
                        <option value="HTI">Haïti</option>
                        <option value="HMD">Île Heard et îles McDonald</option>
                        <option value="VAT">
                          Saint-Siège (État de la Cité du Vatican)
                        </option>
                        <option value="HND">Honduras</option>
                        <option value="HKG">Hong Kong</option>
                        <option value="HUN">Hongrie</option>
                        <option value="ISL">Islande</option>
                        <option value="IND">Inde</option>
                        <option value="IDN">Indonésie</option>
                        <option value="IRN">
                          Iran, République islamique d Iran'
                        </option>
                        <option value="IRQ">Irak</option>
                        <option value="IRL">Irlande</option>
                        <option value="IMN">Île de Man</option>
                        <option value="ISR">Israël</option>
                        <option value="ITA">Italie</option>
                        <option value="JAM">Jamaïque</option>
                        <option value="JPN">Japon</option>
                        <option value="JEY">Jersey</option>
                        <option value="JOR">Jordanie</option>
                        <option value="KAZ">Kazakhstan</option>
                        <option value="KEN">Kenya</option>
                        <option value="KIR">Kiribati</option>
                        <option value="PRK">
                          Corée, République populaire démocratique de Corée
                        </option>
                        <option value="KOR">Corée, République de Corée</option>
                        <option value="KWT">Koweït</option>
                        <option value="KGZ">Kirghizistan</option>
                        <option value="LAO">
                          République démocratique populaire lao
                        </option>
                        <option value="LVA">Lettonie</option>
                        <option value="LBN">Liban</option>
                        <option value="LSO">Lesotho</option>
                        <option value="LBR">Liberia</option>
                        <option value="LBY">Libye</option>
                        <option value="LIE">Liechtenstein</option>
                        <option value="LTU">Lituanie</option>
                        <option value="LUX">Luxembourg</option>
                        <option value="MAC">Macao</option>
                        <option value="MKD">
                          Macédoine, ancienne République de Yougoslavie
                        </option>
                        <option value="MDG">Madagascar</option>
                        <option value="MWI">Malawi</option>
                        <option value="MYS">Malaisie</option>
                        <option value="MDV">Maldives</option>
                        <option value="MLI">Mali</option>
                        <option value="MLT">Malte</option>
                        <option value="MHL">Îles Marshall</option>
                        <option value="MTQ">Martinique</option>
                        <option value="MRT">Mauritanie</option>
                        <option value="MUS">Maurice</option>
                        <option value="MYT">Mayotte</option>
                        <option value="MEX">Mexique</option>
                        <option value="FSM">
                          Micronésie, États fédérés de Micronésie
                        </option>
                        <option value="MDA">
                          Moldavie, République de Moldavie
                        </option>
                        <option value="MCO">Monaco</option>
                        <option value="MNG">Mongolie</option>
                        <option value="MNE">Monténégro</option>
                        <option value="MSR">Montserrat</option>
                        <option value="MAR">Maroc</option>
                        <option value="MOZ">Mozambique</option>
                        <option value="MMR">Myanmar</option>
                        <option value="NAM">Namibie</option>
                        <option value="NRU">Nauru</option>
                        <option value="NPL">Népal</option>
                        <option value="NLD">Pays-Bas</option>
                        <option value="NCL">Nouvelle-Calédonie</option>
                        <option value="NZL">Nouvelle-Zélande</option>
                        <option value="NIC">Nicaragua</option>
                        <option value="NER">Niger</option>
                        <option value="NGA">Nigéria</option>
                        <option value="NIU">Niue</option>
                        <option value="NFK">Île Norfolk</option>
                        <option value="MNP">Îles Mariannes du Nord</option>
                        <option value="NOR">Norvège</option>
                        <option value="OMN">Oman</option>
                        <option value="PAK">Pakistan</option>
                        <option value="PLW">Palau</option>
                        <option value="PSE">
                          Territoire palestinien occupé
                        </option>
                        <option value="PAN">Panama</option>
                        <option value="PNG">Papouasie-Nouvelle-Guinée</option>
                        <option value="PRY">Paraguay</option>
                        <option value="PER">Pérou</option>
                        <option value="PHL">Philippines</option>
                        <option value="PCN">Pitcairn</option>
                        <option value="POL">Pologne</option>
                        <option value="PRT">Portugal</option>
                        <option value="PRI">Porto Rico</option>
                        <option value="QAT">Qatar</option>
                        <option value="REU">Réunion</option>
                        <option value="ROU">Roumanie</option>
                        <option value="RUS">Fédération de Russie</option>
                        <option value="RWA">Rwanda</option>
                        <option value="BLM">Saint Barthélemy</option>
                        <option value="SHN">
                          Sainte-Hélène, Ascension et Tristan da Cunha
                        </option>
                        <option value="KNA">Saint-Kitts-et-Nevis</option>
                        <option value="LCA">Sainte-Lucie</option>
                        <option value="MAF">
                          Saint-Martin (partie française)
                        </option>
                        <option value="SPM">Saint-Pierre-et-Miquelon</option>
                        <option value="VCT">
                          Saint-Vincent-et-les Grenadines
                        </option>
                        <option value="WSM">Samoa</option>
                        <option value="SMR">Saint-Marin</option>
                        <option value="STP">Sao Tomé-et-Principe</option>
                        <option value="SAU">Arabie saoudite</option>
                        <option value="SEN">Sénégal</option>
                        <option value="SRB">Serbie</option>
                        <option value="SYC">Seychelles</option>
                        <option value="SLE">Sierra Leone</option>
                        <option value="SGP">Singapour</option>
                        <option value="SXM">
                          Sint Maarten (partie néerlandaise)
                        </option>
                        <option value="SVK">Slovaquie</option>
                        <option value="SVN">Slovénie</option>
                        <option value="SLB">Îles Salomon</option>
                        <option value="SOM">Somalie</option>
                        <option value="ZAF">Afrique du Sud</option>
                        <option value="SGS">
                          Géorgie du Sud et îles Sandwich du Sud
                        </option>
                        <option value="SSD">Soudan du Sud</option>
                        <option value="ESP">Espagne</option>
                        <option value="LKA">Sri Lanka</option>
                        <option value="SDN">Soudan</option>
                        <option value="SUR">Suriname</option>
                        <option value="SJM">Svalbard et Jan Mayen</option>
                        <option value="SWZ">Swaziland</option>
                        <option value="SWE">Suède</option>
                        <option value="CHE">Suisse</option>
                        <option value="SYR">République arabe syrienne</option>
                        <option value="TWN">Taïwan, province de Chine</option>
                        <option value="TJK">Tadjikistan</option>
                        <option value="TZA">
                          Tanzanie, République-Unie de Tanzanie
                        </option>
                        <option value="THA">Thaïlande</option>
                        <option value="TLS">Timor-Leste</option>
                        <option value="TGO">Togo</option>
                        <option value="TKL">Tokelau</option>
                        <option value="TON">Tonga</option>
                        <option value="TTO">Trinité-et-Tobago</option>
                        <option value="TUN">Tunisie</option>
                        <option value="TUR">Turquie</option>
                        <option value="TKM">Turkménistan</option>
                        <option value="TCA">Îles Turques et Caïques</option>
                        <option value="TUV">Tuvalu</option>
                        <option value="UGA">Ouganda</option>
                        <option value="UKR">Ukraine</option>
                        <option value="ARE">Émirats arabes unis</option>
                        <option value="GBR">Royaume-Uni</option>
                        <option value="USA">États-Unis</option>
                        <option value="UMI">
                          Îles mineures éloignées des États-Unis
                        </option>
                        <option value="URY">Uruguay</option>
                        <option value="UZB">Ouzbékistan</option>
                        <option value="VUT">Vanuatu</option>
                        <option value="VEN">
                          Venezuela, République bolivarienne
                        </option>
                        <option value="VNM">Viet Nam</option>
                        <option value="VGB">Îles Vierges britanniques</option>
                        <option value="VIR">Îles Vierges américaines.</option>
                        <option value="WLF">Wallis et Futuna</option>
                        <option value="ESH">Sahara occidental</option>
                        <option value="YEM">Yémen</option>
                        <option value="ZMB">Zambie</option>
                        <option value="ZWE">Zimbabwe</option>
                      </select>
                    </div>
                    <br />
                  </div>
                </div>
              </fieldset>
              <fieldset class="form-group">
                <legend>Mes informations</legend>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        v-on:keyup="isCompanyNameValid"
                        v-model="form.companyName"
                        name="department"
                        placeholder="Entreprise *"
                        required
                        maxlength="50"
                      />
                      <p
                        class="error"
                        v-if="errors.companyName"
                        v-html="errors.companyName"
                      ></p>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input
                        type="text"
                        name="date"
                        class="form-control"
                        v-model="form.webSite"
                        placeholder="Site web ou page"
                        maxlength="100"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input
                        type="text"
                        name="date"
                        class="form-control"
                        placeholder="Numéro du registre du commerce "
                        v-model="form.RCS"
                        pattern="^\+?\s*(\d+\s?){8,}$"
                        maxlength="11"
                      />
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset class="form-group">
                <legend>Mon projet</legend>
                <div class="row">
                  <div class="col-lg-12">
                    <input
                      type="text"
                      name="name"
                      v-model="form.howknow"
                      class="w-100 form-control"
                      placeholder="Comment nous avez-vous connu ?"
                    />
                    <p>
                      Si vous avez déjà une idée précise de votre projet,
                      veuillez remplir également les champs suivants :
                    </p>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <select
                        name="branche"
                        id="branche-select"
                        class="w-100 form-control"
                        v-model="form.service"
                      >
                        <option value="" selected>
                          -- Branche d'activité --
                        </option>
                        <option
                          v-for="(secteur, si) in secteurs"
                          :value="secteur.label"
                          :key="'secteur' + si"
                        >
                          {{ secteur.desc }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <select
                        name="external-software"
                        class="w-100 form-control"
                        v-model="form.externalSoftware"
                        id="externe"
                      >
                        <option value="" selected>
                          -- choisissez votre branche --
                        </option>
                        <option
                          v-for="(cais, ci) in caisse"
                          :value="cais"
                          :key="'caisse' + ci"
                        >
                          {{ cais }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <p class="mt-3">Vos casiers seront :</p>
                    <div class="form-group custom-form-group">
                      <div class="form-check form-check-inline">
                        <label class="form-check-label">
                          <i class="fal fa-industry checkmark"></i>
                          <input
                            type="radio"
                            v-model="form.placement"
                            value="int"
                            class="form-check-input"
                            style="
                              width: 0.5rem;
                              height: 1.1rem;
                              margin-right: 0.5rem;
                            "
                          />
                          En intérieur</label
                        >
                      </div>
                      <div class="form-check form-check-inline">
                        <label class="form-check-label">
                          <i class="fal fa-campground checkmark"></i>
                          <input
                            type="radio"
                            v-model="form.placement"
                            class="form-check-input"
                            value="ext"
                            style="
                              width: 0.5rem;
                              height: 1.1rem;
                              margin-right: 0.5rem;
                            "
                          />
                          En extérieur
                        </label>
                      </div>
                      <div class="form-check form-check-inline">
                        <label class="form-check-label checkmark">
                          <i class="fal fa-umbrella"></i>
                          <input
                            type="radio"
                            class="form-check-input"
                            v-model="form.placement"
                            value="abri"
                            style="
                              width: 0.85rem;
                              height: 0.85rem;
                              margin-right: 0.5rem;
                            "
                          />
                          Sous abri
                        </label>
                      </div>
                    </div>
                    <br />
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <select
                        class="w-100 form-control"
                        name="terminal"
                        id="terminal"
                        v-model="form.paymentTerminal"
                      >
                        <option value="" selected>Pas de terminal</option>
                        <option
                          v-for="(tpax, tpai) in tpa"
                          :value="tpax"
                          :key="'tpa' + tpai"
                        >
                          {{ tpax }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </fieldset>
              <br />
              <div class="col-lg-12">
                <div class="form-check">
                  <label class="form-check-label d-flex mb-4">
                    <input
                      type="checkbox"
                      name="consent"
                      value="1"
                      ref="consent"
                      class="form-check-input"
                      v-model="form.rgpd"
                      style="
                        width: 0.875rem;
                        height: 1.25rem;
                        margin-right: 0.875rem;
                      "
                    />
                    <span>
                      Je reconnais avoir pris connaissance de notre
                      <a href="">politique de confidentialité</a> et de nos
                                    <a href="">conditions générales d'utilisation</a>.</span>
                                    </label>
                                    <p class="error" v-if="errors.consent" v-html="errors.consent"></p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <button type="submit">Envoyer</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        export default {
            name: "Contact",
            data() {
                return {
                    form: {
                        howknow: "",
                        title: "",
                        userName: "",
                        email: "",
                        phone: "",
                        companyName: "",
                        webSite: "",
                        RCS: "",
                        address: "",
                        zipCode: "",
                        country: "FRA",
                        city: "",
                        service: "",
                        externalSoftware: "",
                        placement: "",
                        paymentTerminal: "",
                        rgpd: false,
                    },
                    tpa: [
                        "Adyen-Verifone",
                        "Ingenico-iSelf4000",
                        "AtosWordline-Valina",
                        "Stripe (paiement en ligne)",
                    ],
                    secteurs: [{
                        label: "SmartLOCKERS",
                        desc: "Pas de secteur spécifique"
                    }, {
                        label: "PharmaLOCKERS",
                        desc: "Pharmacie"
                    }, {
                        label: "HoteLOCKERS",
                        desc: "Hotellerie, bagagerie..."
                    }, {
                        label: "FoodLOCKERS",
                        desc: "Casiers réfrigérés ou non selon vos besoins",
                    }, {
                        label: "SportLOCKERS",
                        desc: "Patinoire, bowling, ski..."
                    }, {
                        label: "EnergyLOCKERS",
                        desc: "recharge de batteries"
                    }, {
                        label: "ServiceLOCKERS",
                        desc: "expressing"
                    }, {
                        label: "LaundryLOCKERS",
                        desc: "Hyper/Super, laveries, blanchisseries, maisons de retraite",
                    }, ],
                    caisse: ["SmartRX", "Pharmagest"],
                    errors: {
                        companyName: "",
                        userName: "",
                        title: "",
                        phone: "",
                        email: "",
                        consent: "",
                    },
                    titles: ["Mr", "Mme"],
                };
            },
            methods: {
                async submitForm() {
                    if (
                        this.notEmpty("title") &&
                        this.isTitleValid() &&
                        this.notEmpty("userName") &&
                        this.isUserNameValid() &&
                        this.notEmpty("email") &&
                        this.isEmailValid() &&
                        this.notEmpty("phone") &&
                        this.isPhoneValid() &&
                        this.notEmpty("companyName") &&
                        this.isCompanyNameValid &&
                        this.isRGPDvalid()
                    ) {
                        this.sendForm();
                    }
                },

                async sendForm() {
                    const Data = {
                        title: this.form.title,
                        user_name: this.form.userName,
                        email: this.form.email,
                        phone: this.form.phone,
                        entreprise_name: this.form.companyName,
                        cashier_system: this.form.externalSoftware,
                        how_know: this.form.howknow,
                        web_site: this.form.webSite,
                        rcs: this.form.RCS,
                        address: this.form.address,
                        zip_code: this.form.zipCode,
                        city: this.form.city,
                        country: this.form.country,
                        branche: this.form.service,
                        location: this.form.placement,
                        payment_terminal: this.form.paymentTerminal,
                    };
                    const ip = await this.$axios.$post(
                        "https://api.dev.smartlockers.io/api/v2.0/prospect",
                        Data, {
                            headers: {
                                accept: "application/json" /*'Content-Type': 'application/x-www-form-urlencoded'*/ ,
                            },
                        }
                    );
                    if (this.submitForm == true) return "merci";
                    else return "erreur";
                },
                isTitleValid() {
                    let bTitle = this.titles.includes(this.$refs.title.value);
                    this.errors.title =
                        bTitle === false ? "Veuillez renseigner votre titre" : "";
                    return bTitle;
                },
                isUserNameValid() {
                    const regexUserName = new RegExp(
                        /^([a-z]+(( |')[a-z]+)*)+([-]([a-z]+(( |')[a-z]+)*)+)*$/,
                        "iu"
                    );
                    let bUserName = regexUserName.test(this.form.userName);
                    this.errors.userName =
                        bUserName === false ? "Veuillez renseigner votre nom" : "";
                    return bUserName;
                },
                isEmailValid() {
                    const regexEmail = new RegExp(
                        /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,5})+$/,
                        "iu"
                    );
                    let bEmail = regexEmail.test(this.form.email);
                    this.errors.email =
                        bEmail === false ? "Veuillez renseigner votre email" : "";
                    return bEmail;
                },
                isPhoneValid() {
                    const regexPhone = new RegExp(
                        /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/,
                        "im"
                    );
                    let bPhone = regexPhone.test(this.form.phone);
                    this.errors.phone =
                        bPhone === false ? "Veuillez renseigner votre téléphone" : "";
                    return bPhone;
                },
                isCompanyNameValid() {
                    const regexCompanyName = new RegExp(
                        /^([a-z]+(( |')[a-z]+)*)+([-]([a-z]+(( |')[a-z]+)*)+)*$/,
                        "iu"
                    );
                    let bCompanyName = regexCompanyName.test(this.form.companyName);
                    this.errors.companyName =
                        bCompanyName === false ? "Veuillez renseigner votre entreprise" : "";
                    return bCompanyName;
                },
                isRGPDvalid() {
                    const bConsent = this.$refs.consent.checked == true;
                    this.errors.consent =
                        bConsent === false ? "Veuillez accepter les conditions légales" : "";
                    return bConsent;
                },
                notEmpty(field) {
                    return this.form[field] !== "";
                },
            },
        };
    </script>
    <style>
        .ft-contact-page-form-wrapper input {
            height: auto;
        }
        
        fieldset {
            border-left: none;
            border-right: none;
            border-bottom: none;
            border-top: 3px solid rgb(37, 78, 137);
            padding-top: 2rem;
            position: relative;
            margin-bottom: 1rem;
        }
        
        fieldset legend {
            background-color: #f4f4f4;
            font-family: "Montserrat";
            color: rgb(37, 78, 137);
            font-size: 20px;
            font-weight: 700;
            margin-left: calc(50% - 9rem);
            position: absolute;
            top: -1rem;
            left: 2rem;
            padding: 0 1rem;
            display: inline;
            white-space: nowrap;
            text-align: center;
            width: 14rem;
        }
    </style>


    <body>